body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cryptoDivContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.singleCryptoDiv {
  margin: 10px;
  padding: 10px;
  background-color: silver;
  border-radius: 10px;
}

.compareCryptoDiv {
  margin: 10px;
  padding: 10px;
  background-color: goldenrod;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.allCryptocurrenciesDivContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.allCryptocurrenciesDiv {
  grid-template-columns: fit-content(90%);
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: goldenrod;
  border-radius: 10px;
}

.CryptoMainpageDiv {
  margin: 10px;
}

.CryptoMainpageDiv a:link {
  text-decoration: none;
  color: inherit;
}

.CryptoMainpageDiv a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}
